{{ $ctx := .Context }}
{{ $sliderImages := .SliderImages }}
{{ with $ctx.Params.slider.images }}
  {{ $sliderImages = . }}
{{ end }}
{{ $showSlider := false }}
{{ with $ctx.Params.slider.enable }}
  {{ $showSlider = . }}
{{ end }}
{{ if and (not $showSlider) $sliderImages }}
  {{ $showSlider = gt (len $sliderImages) 0 }}
{{ end }}

{{ partial "components/page-title" (dict "Context" $ctx "Title" .Title) }}

{{ if $showSlider }}
  <section class="relative left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] w-screen py-4 mb-10">
    {{ partial "components/slider.html" (dict
      "Images" $sliderImages
      "ContainerClass" "schule-slider schule-slider-panorama swiper h-[220px] sm:h-[280px] md:h-[360px] lg:h-[420px]"
      "Class" "swiper-wrapper"
      "ClassImage" "swiper-slide")
    }}
  </section>
{{ end }}

{{ partial "page-header" $ctx }}
