{
  "plugins": [
    "prettier-plugin-go-template"
  ],
  "overrides": [
    {
      "files": [
        "*.html"
      ],
      "options": {
        "parser": "go-template",
        "goTemplateBracketSpacing": true,
        "bracketSameLine": true,
        "printWidth": 10000
      }
    }
  ],
  "printWidth": 10000,
  "htmlWhitespaceSensitivity": "ignore"
}