<div class="pl-3 pr-3">
  <header>
    <div class="container pr-0" {{ partial `bg-image` (dict `Src` site.Params.header_image_banner ) | safeHTMLAttr }}>
      <!-- logo -->
      <div class="justify-self-end">
        <!-- navbar brand/logo -->
        <a id="logo-link" class="block pt-2 pb-2 pr-2" href="{{ site.Home.RelPermalink }}">
          {{ partial "logo" }}
        </a>
      </div>
    </div>
  </header>
  <div class="container sticky top-0 bg-light z-50 shadow-lg text-monte">
    <!-- top navbar -->
    <ul class="flex flex-row justify-between navbar-nav order-3 w-full space-x-2 pb-0 xl:space-x-8">
      <div class="flex flex-row">
        <li class="text-2xl m-3">
          <a class="fa fa-bars font-bold " href="#mymenu"></a>
        </li>
      </div>
      <div class="flex flex-row">
        {{ $currentPage := . }}
        {{ range site.Menus.top }}
          {{ $menuURL := .URL | absLangURL }}
          {{ $pageURL:= $currentPage.Permalink | absLangURL }}
          {{ $active := eq $menuURL $pageURL }}
          <li class="m-3 pt-1">
            {{ if .Params.icon }}
              <a
                class="{{ .Params.icon }} hover:text-primary"
                {{ if findRE `^http` .URL }}
                  target="_self" rel="noopener"
                {{ end }}
                href="{{- if findRE `^#` .URL -}}
                  {{- if not $.IsHome -}}
                    {{- site.Home.RelPermalink -}}
                  {{- end }}{{- .URL -}}
                {{- else -}}
                  {{- .URL | relLangURL -}}
                {{- end -}}"></a>
            {{ end }}
            <a
              class="uk-btn uk-btn-text font-bold {{ if .Params.icon }}hidden sm:inline-block{{ end }}"
              {{ if findRE `^http` .URL }}target="_self" rel="noopener"{{ end }}
              href="{{- if findRE `^#` .URL -}}
                {{- if not $.IsHome -}}
                  {{- site.Home.RelPermalink -}}
                {{- end }}{{- .URL -}}
              {{- else -}}
                {{- .URL | relLangURL -}}
              {{- end -}}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </div>
    </ul>
  </div>
</div>

{{ partial "essentials/menu" (dict "page" . "menuID" "main") }}
