{{ define "main" }}
  <div class="pt-7 flex">
    <article class="basis-3/4">
      {{ $image:= .Params.image }}
      {{ if $image }}
        <div class="mb-10">
          {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
        </div>
      {{ end }}
      <h1>
        {{ .Title }}
      </h1>
      <ul class="mb-4">
        <li class="mr-4 inline-block">
          <i class="fa-regular fa-calendar mr-2"></i>
          {{ .Params.date | dateFormat "Monday, 2 January 2006" }}
        </li>
        {{ $tags:= .Params.tags }}
        {{ if $tags }}
          <li class="mr-4 inline-block">
            {{ range $i,$p:= $tags }}
              <a class="uk-btn uk-btn-text mr-2" href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/" class="ms-1">
                <i class="fa fa-tag mr-1"></i>
                {{ . | humanize }}{{ if ne $i (sub (len $tags) 1) }}
                {{ end }}
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
      <div class="content mb-10 uk-heading-divider">
        {{ .Content }}
      </div>
      <div class="text-monte">
        {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" "Teilen"
          "Whatsapp"
          true "Telegram" false "Linkedin" false "Pinterest" false "Tumblr" false "Vk" false "Twitter" false "Reddit"
          false)
        }}
      </div>
    </article>

    <!-- Related posts -->
    {{ $related := .Site.RegularPages.Related . | first 6 }}
    {{ with $related }}
      <div class="ml-3 basis-1/4">
        <h4 class="mb-2">{{ T "related_posts" }}:</h4>
        {{ range sort . "Date" "desc" }}
          <div class="uk-heading-divider">
            <h3 class="uk-card-title text-monte mb-2 ">
              <a href="{{ .RelPermalink }}">
                {{ .Title }}
              </a>
            </h3>
            <ul class="mb-4">
              <li class="mr-4 inline-block">
                <i class="fa-regular fa-calendar mr-2"></i>
                {{ .Params.date | dateFormat "Monday, 2 January 2006" }}
              </li>
            </ul>
          </div>
        {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
