<header class=" {{ if site.Params.navbar_fixed }} {{ end }} auto">
  <div class="container pr-0" {{ partial `bg-image` (dict `Src` site.Params.header_image_banner ) | safeHTMLAttr }}>
    <!-- logo -->
    <div class="justify-self-end">
      <!-- navbar brand/logo -->
      <a id="logo-link" class="block pt-2 pb-2" href="{{ site.Home.RelPermalink }}">
        {{ partial "logo" }}
      </a>
    </div>
  </div>
</header>
<div class="container sticky top-0 bg-body z-50 shadow-lg">
  <!-- top navbar -->
  <ul class="flex navbar-nav order-3 w-full pb-6 order-1 w-auto space-x-2 pb-0 xl:space-x-8">
    <li class="text-2xl">
      <a class="nav-link fa fa-bars" href="#mymenu"></a>
    </li>
    {{ $currentPage := . }}
    {{ range site.Menus.top }}
    {{ $menuURL := .URL | absLangURL }}
    {{ $pageURL:= $currentPage.Permalink | absLangURL }}
    {{ $active := eq $menuURL $pageURL }}
    <li class="m-3 hidden sm:block">
      {{ if .Params.icon }} <a class="nav-link {{ .Params.icon }} py-1 px-0" {{ if findRE `^http` .URL }} target="_self"
        rel="noopener" {{ end }} href="{{- if findRE `^#` .URL -}}
            {{- if not $.IsHome -}}
              {{- site.Home.RelPermalink -}}
            {{- end }}{{- .URL -}}
          {{- else -}}
            {{- .URL | relLangURL -}}
          {{- end -}}"></a> {{ end}}
      <a class="nav-link {{ if $active }}active{{- end -}} {{ if .Params.icon }} px-0 {{ end}}" {{ if findRE `^http`
        .URL }} target="_self" rel="noopener" {{ end }} href="{{- if findRE `^#` .URL -}}
                {{- if not $.IsHome -}}
                  {{- site.Home.RelPermalink -}}
                {{- end }}{{- .URL -}}
              {{- else -}}
                {{- .URL | relLangURL -}}
              {{- end -}}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
</div>

{{ partial "essentials/menu" (dict "page" . "menuID" "main") }}