@tailwind base;
@tailwind components;
@tailwind utilities;

@import "search.css";
@import "social-share.css";
@import "gallery-slider.css";
@import "images.css";
@import "toc.css";
@import "tab.css";
@import "accordion.css";
@import "modal.css";
@import "notice.css";

@layer base {
  @font-face {
    font-family: Zapfino;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/ZapfinoExtraLT-One.woff2") format("woff2");
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply text-monte;
  }
  h1 {
    @apply uk-h1;
  }
  h2 {
    @apply uk-h2;
  }
  h3 {
    @apply uk-h3 mt-4;
  }
  h4 {
    @apply uk-h4;
  }
  h5 {
    @apply font-bold;
  }
  p {
    @apply uk-paragraph;
  }
  code {
    @apply uk-codespan;
  }
}

.share-icons {
  @apply flex items-center;
  .share-title {
    @apply font-bold;
  }
}
.share-icons .share-link {
  @apply w-4 h-4 ml-2;
}
.share-icon svg {
  @apply fill-monte;
}
