{{ define "main" }}

<!-- Banner -->
{{ with .Params.banner }}
<section class="pt-10">
  <div class="container">
    <div class="justify-center text-center">
      <h1 class="mb-4 text-8xl font-calligraphy text-monte">
        {{ .title | markdownify }}
      </h1>
      {{if .content}}
      <p class="mb-8">
        {{ .content | markdownify }}
      </p>
      {{end}}
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->
<div class="prose prose-slate">
  <!-- Aktuelles -->
  <h2 class="container text-monte text-start text-lg font-bold">AKTUELLES</h2>
</div>
<section class="py-2">
  <div class="container flex flex-row flex-wrap">
    <!-- blog posts -->
    {{ $pages := where site.RegularPages "Type" "in" "aktuelles" }}
    {{ range $pages.ByDate }}
    <div class="basis-1/2">
      {{ partial "components/aktuelles-card" . }}
    </div>
    {{ end }}
  </div>
</section>
<!-- /Aktuelles -->

<!-- Slider -->
{{ with .Params.slider }}
<section class="relative w-screen left-1/2 right-1/2 -ml-[50vw] -mr-[50vw] transform -translate-x-1/2 py-4">

  {{ partial "slider" (dict "Dir" .images) }}

</section>
{{ end }}
{{ end }}